:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .flex-header-outer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .flex-header {
    display: flex;
    flex-direction: column;
  }

  .flex-header-small {
    padding-right: 15px;
    font-size: medium;
    color: dimgray;
  }

  a {
    color: dimgray;
    text-decoration: none;
  }

  .header {
    font-size: 4vw;
    letter-spacing: -0.03em;
    line-height: 1;
  }

  .header-gray {
    font-size: 4vw;
    letter-spacing: -0.03em;
    line-height: 1;
    color: dimgray;
  }
}

@media only screen and (max-width: 500px) {
  .parent{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 501px) {
  .parent {
    display: flex;
    flex-direction: row;
  }
}
